.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding-bottom: 60px;
}

.techBox {
	width: 100%;
}

.longDescription {
	font-size: 16px;
	line-height: 1.6;
	color: var(--onSurface);
	margin-top: 16px;
	text-align: justify;
}

.techsTitle {
	font-size: 18px;
	font-weight: 700;
	margin-top: 32px;
	margin-bottom: 16px;
	color: var(--contrast);
}

.technologiesContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	align-items: center;
}

.technologiesContainer img {
	height: 30px;
	width: auto;
}

.content {
	width: 100%;
}