.container {
	width: var(--container-width);
	max-width: var(--max-width);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.techBox {
	width: 100%;
	margin: 10px 0px;
}

.longDescription {
	margin: 10px 0px;
	font-size: 18px;
}

.techsTitle {
	margin: 15px 0px;
	font-size: 18px;
}

.technologiesContainer {
	margin: 10px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.technologiesContainer > img {
	width: auto;
	height: 40px;
}

.technologiesContainer > span {
	font-size: 24px;
	margin: 10px 0px;
}

.link {
	margin: 10px;
	font-size: 20px;
	font-weight: 700;
}

.image {
	width: 80%;
	height: auto;
	border-radius: 20px;
}

.linkContainer {
	margin: 10px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 20px;
}

.linksTitle {
	font-size: 28px;
}

.linkContainer > a {
	text-decoration: underline;
	margin: 0px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 10px 0px;
	width: 100%;
}
