.container {
	width: 100%;
	padding: 10px;
	border-radius: var(--border-radius-medium);
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--surface);
	border: 2px solid var(--onSurface);
}

.container > h3 {
	font-size: 22px;
	color: var(--onSurface);
}

.container > p {
	font-size: 18px;
	color: var(--onSurface);
}
