@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");
@import url("./var.css");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Roboto Mono", monospace;
}

html,
body {
	overflow-x: hidden;
}

main {
	width: 100vw;
	max-width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-bottom: 50px;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	height: auto;
	width: var(--container-width);
	max-width: var(--max-width);
	padding-top: 120px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 10px;
}
