.title {
	font-size: 28px;
	color: var(--contrast);
	margin-bottom: 24px;
	margin-top: 40px;
	font-weight: 700;
	border-bottom: 2px solid var(--contrast);
	display: inline-block;
	padding-bottom: 4px;
	width: 100%;
}