.profilePhoto {
	height: 250px;
	width: 250px;
	object-fit: cover;

	border-radius: 50%;
}

.presentation {
	width: 70%;
	max-width: 700px;
}

.presentation > p {
	font-size: 18px;
	font-weight: 400;
	margin: 20px;
	color: var(--contrast);
	text-align: center;
}
