.textContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.textContainer p {
	font-size: 16px;
	line-height: 1.6;
	color: var(--onSurface);
	margin: 0;
	text-align: justify;
}

.textContainer span {
	font-weight: 700;
	color: var(--contrast);
}