.subcontainer {
	width: 100%;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.subcontainer img {
	height: 40px;
	width: auto;
	transition: transform 0.2s;
}

.subcontainer a:hover img {
	transform: scale(1.1);
}

@media screen and (max-width: 575px) {
	.subcontainer {
		gap: 30px;
	}

	.subcontainer img {
		height: 32px;
	}
}