.box {
	width: 100px;
	height: 70px;
	margin: 0px 5px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.box > img {
	height: 40px;
	width: auto;
	padding: 5px;
}
.box > p {
	text-align: center;
}
