.container {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(255, 255, 255, 0.95);
	backdrop-filter: blur(5px);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.subcontainer {
	width: var(--container-width);
	max-width: var(--max-width);
	display: flex;
	align-items: center;
	justify-content: flex-end;
    justify-content: center;
}