.navList {
	display: flex;
	gap: 32px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navRoutes {
	list-style: none;
}

.navRoutes > a {
	text-decoration: none;
	font-size: 15px;
	color: var(--onSurface);
	font-weight: 500;
	transition: color 0.2s;
}

.navRoutes > a:hover {
	color: var(--secondary);
}

@media screen and (max-width: 540px) {
	.navList {
		gap: 20px;
	}
    .navRoutes > a {
		font-size: 14px;
	}
}
