.groupContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.group {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
}