.navBox {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	background-color: var(--background);
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}

.navBoxActive {
	transform: translateX(0%);
}
.navBoxInctive {
	transform: translateX(-100%);
}

.close {
	height: 55px;
	width: 55px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 20;
}

.navList {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.navRoutes {
	width: 100%;
	margin: 15px 0px;
	text-align: center;
	list-style: none;
	font-size: 35px;
	font-weight: 500;
	letter-spacing: 1px;
}

.navRoutes > a {
	color: var(--contrast);
	text-decoration: none;
}

.navRoutes > a {
	text-decoration: none;
	font-size: 50px;
	color: var(--contrast);
}

@media (min-width: 900px) {
	.close {
		display: none;
	}
	.navBox {
		height: auto;
		width: auto;
		position: initial;
		background-color: transparent;
		transform: translateX(0%);
	}
	.navList {
		width: auto;
		flex-direction: row;
		gap: 15px;
	}
	.navRoutes {
		width: auto;
		font-weight: 400;
		font-size: 18px;
	}
	.navRoutes > a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		color: var(--contrast);
	}
	.navRoutes a {
		transition: all 0.3s ease;
	}
	.navRoutes a:hover {
		color: var(--main);
	}
}
